.wrapper :global(.swiper-button-prev),
.wrapper :global(.swiper-button-next) {
  width: 36px !important;
  height: 36px !important;
  background-color: #34c94b !important;
  border-radius: 50% !important;

  display: flex !important;
  align-items: center !important;
  justify-content: center !important;

  color: white !important;
}

.wrapper :global(.swiper-button-prev::after),
.wrapper :global(.swiper-button-next::after) {
  font-size: 10px !important;
  color: white !important;
  font-weight: 700 !important;
}