.wrapper :global(.swiper-button-prev),
.wrapper :global(.swiper-button-next) {
  width: 36px !important;
  height: 36px !important;
  background-color: #34c94b !important;
  border-radius: 50% !important;

  display: flex !important;
  align-items: center !important;
  justify-content: center !important;

  color: white !important;

  pointer-events: auto !important;
  z-index: 100;
}

.wrapper :global(.swiper-button-prev svg),
.wrapper :global(.swiper-button-next svg) {
  pointer-events: auto !important;
}
